*{
    font-family: Monserrat, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);

}

.hero-container{
    background:url(./Assets/design1_image1.jpg) center/cover ;
    width: 100vw;
    height: 100vh;
    position: relative;
    

}
.hero-container::before{
    content: "";
    background: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.hero-body{
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.click-aqui{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    top: 85%;
    left: 40%;
    padding: 1rem;
    opacity: 70%;
    border-radius:10px;
    position: absolute;
}
.click-aqui a{
    font-family:'Alfa Slab One'; 
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.click-aqui:hover{
    text-decoration: underline;

}

h1{
    font-family: 'Alfa Slab One';

    margin-top: 20rem;
    align-self: center;
    justify-self: center;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 9rem;

}
nav{
    
    background-color: transparent;
    display: flex;
    position:absolute;
    top:2rem;
    right:2rem;
    flex-wrap: wrap;
    

}
nav a{
    font-family: 'Alfa Slab One';
    background-color: transparent;
    color:white;
    margin:2rem;
    text-decoration: none;
    font-size: 1.5rem;
    

}
nav a:hover{
    text-decoration: underline;
}
nav a:active{
    color:crimson;
}

main{
    background-color: rgb(255, 255, 255);
    font-family: 'Alfa Slab One';
    
    
}

#logo{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    align-self: start;
    justify-self: end;
    margin-top: -10rem;
}

.card{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    
}

#proximos-eventos{
    
    justify-self: center;
    align-self: center;
    background-color: transparent;
}
#proximos-eventos h2{
    font-size: 8rem;
    font-family: 'Alfa Slab One';
    background-color: white;
    color: black;
    
}

.fechas{
justify-self: center;
align-self: center;
margin-top: 4rem;
margin-left: 5rem;


}
.fechas dt{
font-family:'Alfa Slab One';
font-size: 5rem;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);

}
.fechas dd{
    font-family:'Alfa Slab One';
    font-size: 3rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
    }
dd{
    text-indent: 3rem;
}

#volver{
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-top: -8rem;
    margin-left: 90%;
    
    

}
#volver a{
    font-family:  'Alfa Slab One'; 
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    opacity: 70%;
    padding: 1rem;
    border-radius:10px;
    text-decoration: none;
}
#volver a:hover{
    background-color: rgb(255, 0, 51);
}
.card-about{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    font-size: 4rem;
}

.about-text{
    align-self: center;
    margin-left: 35rem;
    margin-right: 20rem;
    margin-top: 2rem;


    }

.about-text dl{
    padding: 1rem;
    
}

.about-text dt{
    text-decoration: underline;
}

.about-text dl,dd,dt{
font-family:'Alfa Slab One' ;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
font-size: 2rem;
flex-wrap: wrap;
text-align: justify;
}

#about{
    justify-self: center;
    align-self: center;
    background-color: white;
}
#about h2{
    font-family: 'Alfa Slab One';
    background-color: white;
    font-size: 8rem;
    color: black;
    
}

#logo-about{
    width: 500px;
    height: 500px;
    
    background-color: rgb(255, 255, 255);
    margin-top: -10rem;

}
.click-aqui-about{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    top: 85%;
    left: 45%;
    padding: 1rem;
    opacity: 70%;
    border-radius:10px;
    position: absolute;
}
.click-aqui-about a{
    font-family:'Alfa Slab One'; 
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.click-aqui-about:hover{
    text-decoration: underline;

}

.card-contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    

}
#contact{
    background-color: rgb(255, 255, 255);
    margin-top: 3rem;
}
#contact h2{
    font-family:'Alfa Slab One'; 
    
    background-color: rgb(255, 255, 255);
    font-size: 8rem;
    
    color: black;

    margin-top: -23rem;
    
}
.contact {
    justify-self: center;
    align-self: center;
    background-color: rgb(255, 255, 255);
    font-size: 5rem;

}

.contact a{
    color: rgb(86, 86, 221);
}

.card-info{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
    
}

#info{
    font-family:'Alfa Slab One'; 
    color: black;
}
#info h2{
    font-size: 8rem;
    margin-top: -20rem;
    justify-self: center;
    align-self: start;
}
#info h4{
    font-size: 1.5rem;
    margin-bottom: 3rem;
    justify-self: start;
    align-self: start;
}
#info h2,h4{
    background-color: rgb(255, 255, 255);
    font-family:'Alfa Slab One'; 
    color: rgb(0, 0, 0);
    
} 

table {
    border-collapse: collapse;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    gap: 1rem;

}
th,td{
    text-align: center;
    width: 18rem;
    height: 3rem;
}
.card-extra{
    margin-bottom: 5rem;
    margin-top: -20rem;
    

    
}
.card-extra a, h3{
    margin-top: 3rem;
    margin-left: 5rem;
    font-family: 'Alfa Slab One'; 
    font-size: 1.5rem;
    

}
.card-extra h4{
    font-size: 1.5rem;
    flex-wrap: wrap;
    text-align: justify;
    margin-left: 5rem;
    margin-right: 5rem;

}
.contactos{
    display: flex;
}
.lista-desordenada{
    color: black;
    font-size: 1.5rem;
    margin: 1rem;
    margin-right: 10rem;
    flex-wrap: wrap;
    text-align: justify;
}

.lista-numero{
    color: black;
    font-size: 1.5rem;
    margin-right: 10rem;
    flex-wrap: wrap;
    text-align: justify;
}

.card-reglas{
    margin-left: 3rem;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
}

#reglas h4{
    font-size: 2rem;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    text-align: center;
    font-family:'Alfa Slab One'; 

    
}
#reglas h2{
    background-color: white;
    font-size: 6rem;
    color: black;
    font-family:'Alfa Slab One'; 
    text-align: center;
    margin-top: -15rem;
}
.subrayado{
    font-size: 0.5rem;
    text-decoration: underline;
}

.lista-numero{
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 20rem;
    text-align: justify;
    flex-wrap: wrap;

}
.lista-desordenada{
    margin-left: 10rem;
    margin-right: 20rem;
    text-align: justify;
    flex-wrap: wrap;
}

.card-form{
    background-color: rgb(255, 255, 255);
    
}
.formulario section, label, h2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.formulario{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 20rem;
    margin-right: 15rem;
    margin-bottom: 10rem;

}

.formulario fieldset{
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    
}

.escuela {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    
}

.escuela input{
    
    margin:1rem;
}

.posicion{
    font-size: 1.5rem;
}
.posicion input{
    margin:1rem;
}

.uniforme{
    font-size: 1.5rem;
}

.uniforme input{
    margin:1rem;
}
#registracion {
    background-color: rgb(255, 255, 255);
}

#registracion h2{
    color: rgb(0, 0, 0);
    font-size: 6rem;
    font-family:'Alfa Slab One';  
    margin-left: 21rem;

}



#volver-form{
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-top: -15rem;
    margin-left: 92%;
    

}
#volver-form a{
    font-family:  'Alfa Slab One'; 
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    padding: 1rem;
    border-radius:10px;
    text-decoration: none;
}
#volver-form a:hover{
    background-color: crimson;
}

.locations{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;

}

.locations h2{
    background-color: white;
    color: black;
    font-weight: bold;
    
    
    
}

.enviar input{

    font-family: 'Alfa Slab One';
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 3rem 0 1rem 3rem ;
    padding:1rem;
}